<%- include("header.ejs") %>
<link rel="stylesheet" href="/css/create-styles.css">

<form method="POST" action="/edit/<%= post._id %>">
  <label for="heading">Heading</label>
  <input type="text" name="heading" value="<%= post.title %>" required>

  <label for="image">Image URL</label>
  <input type="text" name="image" value="<%= post.image %>" required>

  <label for="text">Text</label>
  <textarea name="text" rows="10" cols="50" required><%= post.text %></textarea>

  <input type="submit" value="Update Post">
</form>

</body>
</html>
